[submodule "Application/Shared/RoboFramework"]
	path = Application/Shared/RoboFramework
	url = https://github.com/LimaBR/RoboFramework
[submodule "Application/Shared/RoboFramework_STM32"]
	path = Application/Shared/RoboFramework_STM32
	url = https://github.com/LimaBR/RoboFramework_STM32
